.tree-inner-wrap {
  width: 50%;
  margin: auto;
  padding-top: 20px;
  height: 500px;
}

.dropdown-trigger {
  display: none;
}

.react-dropdown-tree-select {
  font-size: 0.9rem;
}

.search {
  border-top: 1px solid #e2e8f0;
  border-bottom: 3px solid #e2e8f0;
  padding: 0.5rem;
  position: absolute;
  transform: translateY(-2rem);
  top: 0;
  right: 0;
  left: 0;
}

.react-customscroll {
  overflow: initial !important;
}

.category {
  font-weight: bold;
  font-size: 1.1rem;
}

.location-item {
  width: 300px;
  text-align: left;
}

.location-item:hover {
  background-color: aquamarine;
}
